<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

<body>
    <div class="container">
        <hr>
        <h2>Articles</h2>
        <hr>
        <a class="btn btn-success" href="/admin/articles/new"> Create a new article</a>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Slug</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach(article => { %>
                    <tr>
                        <th><%= article.id %></th>
                        <th><%= article.title %></th>
                        <th><%= article.slug %></th>
                        <th><%= article.category.title %></th>

                        <th>
                            <a href="/admin/articles/edit/<%= article.id %>" class="btn btn-warning">Edit</a>         
                            <form method="POST" action ="/articles/delete" style="display: inline;" onsubmit="deleteArticle(event, this)">
                                <input type="hidden" value="<%= article.id %>" name="id">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </th>
                    </tr>

                <%})%>
            </tbody>


        </table>



    </div>

</body>

<%- include ("../../partials/footer.ejs") %>

<script>
    function deleteArticle(event, form){
        event.preventDefault();
        var decision=confirm("Are you sure you want to delete this article?");
        if(decision){
            form.submit();
        }
    }

</script>