<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

<body>
    <div class="container" id="container-categories-registration"> 
        <div class="card">
            <div class="card-header">
                <h2>Create a new article</h2>
            </div>
            <div class="card-body">
                <form class="form-floating" action ="/articles/save" method="POST">
                    <input type="text" class="form-control" id="floatingInputValue" placeholder="Type the article title" name="title">
                    <br>
                    <textarea class="form-control" placeholder="Write down your article here..." name="body" id="article"></textarea>
                    <br>
                    <label>Category</label>
                    <select name="category" class="form-control">
                        <% categories.forEach((category)=>{ %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% }) %>


                    </select>
                    <br>
                    <button type="submit" class="btn btn-outline-secondary">Create</button>
                </form>
            </div>         
        </div>    
    </div>
</body>


<%- include ("../../partials/footer.ejs") %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>